
lk-util/.classpath

lk-util/.project
lk-util/.settings/
*.prefs
.idea/*
lk-util/target／*
lk-skill/target／*
lk-mybatis/target／*

*.class

lk-skill/.classpath
lk-skill/.iml
lk-util/.iml
lk-mybatis/.iml

lk-skill/.project

lk-skill/.settings/.jsdtscope

lk-skill/.settings/org.eclipse.wst.common.component

lk-skill/.settings/org.eclipse.jdt.core.prefs
